<!DOCTYPE html>
<html>

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href='../styling/navigation.css'/>
     <link rel="stylesheet" href='../styling/update.css'/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
     <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body ng-app="update" ng-controller='updateCtrl' ng-init="response=''"></body>
   <div class="topnav">
      <a href="home.html">Home</a>
      <a href="insert.html">Insert</a>
      <a href="view.html">View</a>
      <a class="active" href="update.html">Update</a>
      <a href="delete.html">Delete</a>
   </div>
   
   <br><br>
   <div class="container">
       <center>
      <img id="img3" src="../images/img3.png">
    </center>
   </div>
   <div >
      <p>Enter the id to be updated:<input type="text" ng-model="data.id"></p>
      <button class="btn btn-danger" ng-click="view()">OK</button> 
   </div>

   <div class="bg-warning text-white" ng-if="response.data=='Record with this id does not exist'">
      <p><b>{{response.data}}</b></p>
   </div>
   <div ng-if="response.data!='Record with this id does not exist' && response!=''"> 
     <form ng-submit="update()">   
      <div > 
         <p>
            The current Title is <b>{{copy.data[0].title}}</b><br/>   
            Enter updated Title:<input type="text" ng-model="data.title" ng-init="data.title=copy.data[0].title" required/><br/>
         </p>
         <p>
            The current Blog Category Info is <b>{{copy.data[0].blog_category}}</b><br/>
            Enter updated Blog Category Info:<input type="text"  ng-model="data.blog_category" ng-init="data.blog_category=copy.data[0].blog_category" required/><br/>
         </p>
      </div>
      <div >
         <h4><b>Add a new Blog</b></h4>
         <p>
            Author of the Blog:<input type="text" ng-model="item.author" ><br>
	        Content of the Blog:<input type="text" ng-model="item.content"/><br> 
            Rating:<input type="number" ng-model="item.rating"/><br>
            <button type="button" class="btn btn-primary" ng-click="addRow()">Add</button><br>
         </p>
      </div>
      <br>
      <table class="table table-striped table-bordered table-hover">  
      <thead>  
        <th>Author of the Blog</th>  
        <th>Content of the Blog</th>  
        <th>Rating</th>  
        <th>Options</th>
       </thead>  
       <tbody>  
        <tr ng-repeat="t in list" ng-include="getTemplate($index)">
         <script type="text/ng-template" id="display">
          <td>{{t.author}} </td>
          <td>{{t.content}} </td>
          <td>{{t.rating}} </td>
          <td>
           <button type="button" class="btn btn-primary" ng-click="edit($index)">Edit</button>
           <button type="button" class="btn btn-danger" ng-click="removeRow($index)">Delete</button>
          </td>
         </script>
         <script type="text/ng-template" id="edit">
          <td><input type="text" ng-model="item.author" ng-init="item.author=t.author" class="form-control input"/></td>
          <td><input type="text" ng-model="item.content" ng-init="item.content=t.content" class="form-control input"/></td>
          <td><input type="number" ng-model="item.rating" ng-init="item.rating=t.rating" class="form-control input"/></td>
          <td>
           <button type="button" class="btn btn-primary" ng-click="editRow()">Save</button>
           <button type="button" class="btn btn-danger" ng-click="reset()">Cancel</button>
          </td>
         </script>
        </tr>  
       </tbody>  
      <table>
      <br/>
      <input type="submit" class="btn btn-success" value="Submit">   
     </form>
     <br>
     <div class="bg-warning text-white" ng-if="response.data=='Could not update record! Error in database access' || response.data=='Successfully updated record'">
        <p>
           <b>Status:{{response.data}}</b>
        </p>
   </div> 
   <script src="../controllers/update.js"></script> 
</body>
</html>