<html> 
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href='../styling/navigation.css'/>
     <link rel="stylesheet" href='../styling/view.css'/>
     <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
 </head> 

<body ng-app="view" ng-controller='viewCtrl' ng-init="response=''">
<div class="topnav">
      <a href="home.html">Home</a>
      <a href="insert.html">Insert</a>
      <a class="active" href="view.html">View</a>
      <a href="update.html">Update</a>
      <a href="delete.html">Delete</a>
</div> 
<center>
<img id="img2" src="../images/img2.webp">
</center>
<br><center><button ng-click="viewAll()" class="btn">View all</button></center><br/>
<div class="id"><b>Enter the id of the blog to view:</b><input type="text" ng-model="data.id"/>
<button ng-click="viewId()" class="btn">View by Id</button><br/><br></div><br>
<div class="title"><b>Enter the title of the blog to view:</b><input type="text" ng-model="data.title"/>
<button ng-click="viewCity()" class="btn">View by Title</button></div><br>

<div class="all" ng-if="response.data=='Record with this id does not exist'">{{response.data}}</div>
<div class="all" ng-if="response.data=='No records with this name are present!'">{{response.data}}</div>
<div class="all" ng-if="response.data=='Error in database access'">{{response.data}}</div>
<div ng-if="response.data!='Record with this id does not exist' && response.data!='No records with this name is present!' && response.data!='Error in database access'">
   <br> <table cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Blog Category</th>
            <th>Blog Details</th>
        </tr>
        <tbody ng-repeat="d in response.data">
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.title}}</td>
                <td>{{d.blog_category}}</td>
                <td>
                    <table cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Author of the Blog</th>
                            <th>Conetent of the Blog</th>
                            <th>Blog Rating </th>
                        </tr>
                        <tbody ng-repeat="t in d.list">
                        <tr>
                            <td>{{t.author}}</td>
                            <td>{{t.content}}</td>
                            <td>{{t.rating}} </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
        
        <script src="../controllers/view.js"></script>
</body>  
</html>